In [2]:
!pip install -r requirements.txt

Requirement already satisfied: numpy==1.18.1 in c:\users\marti\anaconda3\lib\site-packages (from -r requirements.txt (line 1)) (1.18.1)
Requirement already satisfied: pandas==1.0.1 in c:\users\marti\anaconda3\lib\site-packages (from -r requirements.txt (line 2)) (1.0.1)
Requirement already satisfied: pandocfilters==1.4.2 in c:\users\marti\anaconda3\lib\site-packages (from -r requirements.txt (line 3)) (1.4.2)
Requirement already satisfied: scikit-learn==0.22.1 in c:\users\marti\anaconda3\lib\site-packages (from -r requirements.txt (line 4)) (0.22.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\marti\anaconda3\lib\site-packages (from pandas==1.0.1->-r requirements.txt (line 2)) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\marti\anaconda3\lib\site-packages (from pandas==1.0.1->-r requirements.txt (line 2)) (2019.3)
Requirement already satisfied: joblib>=0.11 in c:\users\marti\anaconda3\lib\site-packages (from scikit-learn==0.22.1->-r requirements.txt (line 4)) (0.14.1)
Requirement already satisfied: scipy>=0.17.0 in c:\users\marti\anaconda3\lib\site-packages (from scikit-learn==0.22.1->-r requirements.txt (line 4)) (1.4.1)
Requirement already satisfied: six>=1.5 in c:\users\marti\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas==1.0.1->-r requirements.txt (line 2)) (1.14.0)

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Caricamento dataset

In [4]:
file_path = 'appointment_data.csv' 
data = pd.read_csv(file_path)

In [5]:
data

,No-show,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
0,No,1.328492e+12,5687610,F,2016-05-11T16:00:16Z,2016-05-19T00:00:00Z,25,MATA DA PRAIA,0,0,0,0,0,0
1,No,3.881869e+14,5694484,M,2016-05-13T08:41:27Z,2016-05-17T00:00:00Z,62,FRADINHOS,0,0,0,0,0,0
2,Yes,9.118992e+12,5500939,F,2016-03-22T11:09:38Z,2016-05-09T00:00:00Z,65,JARDIM CAMBURI,0,0,0,0,0,0
3,No,1.843618e+14,5639080,M,2016-04-29T08:42:15Z,2016-04-29T00:00:00Z,41,MARIA ORTIZ,0,0,0,0,0,0
4,No,5.783198e+13,5671566,M,2016-05-06T18:47:52Z,2016-05-09T00:00:00Z,61,MARUÍPE,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88416,No,4.876245e+11,5664593,F,2016-05-05T12:58:06Z,2016-05-10T00:00:00Z,63,SÃO PEDRO,0,1,1,0,0,1
88417,No,3.911649e+12,5622779,M,2016-04-26T13:03:23Z,2016-06-01T00:00:00Z,31,MARIA ORTIZ,0,0,0,0,0,0
88418,No,4.973443e+11,5762864,F,2016-06-02T08:16:03Z,2016-06-08T00:00:00Z,38,ANDORINHAS,0,0,0,0,0,0
88419,No,2.623493e+14,5639951,F,2016-04-29T09:52:19Z,2016-04-29T00:00:00Z,18,MARUÍPE,1,0,0,0,0,0
88420,No,1.821131e+14,5637593,M,2016-04-29T07:10:42Z,2016-05-11T00:00:00Z,9,ILHA DO PRÍNCIPE,1,0,0,0,0,1

## Qualche analisi sui dati

In [6]:
# controllo il numero di valori unici per 'PatientId'
data['PatientId'].nunique()

54105

In [7]:
data.dtypes

No-show            object
PatientId         float64
AppointmentID       int64
Gender             object
ScheduledDay       object
AppointmentDay     object
Age                 int64
Neighbourhood      object
Scholarship         int64
Hipertension        int64
Diabetes            int64
Alcoholism          int64
Handcap             int64
SMS_received        int64
dtype: object

In [8]:
# controllo il numero di valori unici per 'ScheduledDay'
data['ScheduledDay'].nunique()

83840

In [9]:
# controllo il numero di valori unici per 'AppointmentDay'
data['AppointmentDay'].nunique()

27

In [10]:
# controllo se ci sono valori nulli
data.isnull().sum()

No-show           0
PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
dtype: int64

In [11]:
# stampo le colonne di tipo object
s = (data.dtypes == 'object')
object_cols = list(s[s].index)
print (object_cols)

['No-show', 'Gender', 'ScheduledDay', 'AppointmentDay', 'Neighbourhood']

In [12]:
# controllo qual è il valore minimo per la colonna 'Age'
data['Age'].min()

0

In [13]:
# controllo qual è il valore massimo per la colonna 'Age'
data['Age'].max()

115

## Split dei dati

In [ ]:
train, test = train_test_split(data, test_size=0.2)

In [ ]:
train

In [ ]:
test

## Creazione file CSV

In [ ]:
train.to_csv("train.csv", index=False)
test.to_csv("test.csv", index=False)